table.responsive-table {
  border-collapse: collapse;
  margin: 8px 0;
  width: 90%;
}

.banner-btn-wrapper {
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  width: 100%; 
  background-color: #15b64c;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fcfcfc;
    transition: color 0.2s;
    padding: 12px;
  }
}

.banner-btn-wrapper.zoom {
  background-color: #0aa2e4;
}

.banner-btn-wrapper:hover {
  background-color: #c9c9c9;
  a {
    color: #000;
  }
}

.btn-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -3px;
}

table.responsive-table td {
  width: 30%;
  padding: 5px 20px 5px 20px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  table.responsive-table td {
    width: 100% !important; 
    display: block;
    margin-bottom: 8px;
  }
}

.tpheader_wave #page-header.nobg:before {
  /* background-image: url("https://imc2.elearn.net.au/pluginfile.php/186/mod_label/intro/banner.jpg"); */
  background: linear-gradient(to right, #56a8dc, #0070b8);
  background-size: cover;
  background-position: bottom right;
}

.text-box-heading {
  position: relative;
  font-size: 1.6em;
  padding: 4px 1em;
  background: #0070b8;
  color: #fff;
  border-radius: 0.15em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0070b8;
  font-size: 0;
  line-height: 0;
  margin-left: 7%;
}

.course-week-topic-title {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .underscore {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #f96e2a;
    vertical-align: middle;
  }
}

.orange-color {
  color: #f96e2a;
}

.course-pano {
  position: relative;
  height: 175px;
  overflow: hidden;
  position: relative;

  img {
    bottom: 0;
    height: 100%;
    margin: 0 !important;
    min-height: 175px;
    object-fit: cover;
    position: relative;
    width: 100%;
    max-width: 100% !important;
  }

  .title {
    position: absolute;
    left: 0;
    padding: 20px;
    top: 0;
    background: transparent;

    h2 {
      margin-top: 10px;
      margin-bottom: 20px;
      color: #fff !important;
      font-size: 24px;
      line-height: 28px;
      display: flex;

      span {
        background: #0070b8;
        padding: 4px 8px 8px 8px;
      }
    }

    h4 {
      color: #fff !important;
      margin-left: 15px;
      font-size: 16px;
      line-height: 22px;

      span {
        background: rgba(0, 0, 0, 0.6);
        border-left: 4px solid #0070b8;
        padding: 8px;
        display: inline-block;
      }
    }
  }
}
